* {
    box-sizing: border-box;
}

:root {
    --font-size: min(2.5vw, 14px);
}

:focus {
    outline: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
}

#wrapper-bar-chart { 
    width: 100%;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
}

#container-select-series {
    text-align: center;
}

#select-series { 
    width: 45vmin;
    padding: 7px 2px 5px 7px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 15px;
    /* don't display default arrow icon */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* arrow icon for dropdown */
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB3aWR0aD0iMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQwOCAxMDg4cTAgMjYtMTkgNDVsLTQ0OCA0NDhxLTE5IDE5LTQ1IDE5dC00NS0xOWwtNDQ4LTQ0OHEtMTktMTktMTktNDV0MTktNDUgNDUtMTloODk2cTI2IDAgNDUgMTl0MTkgNDV6Ii8+PC9zdmc+'),
        linear-gradient(to bottom, white 0%,white 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .3em top 30%, 0 0;
    background-size: .65em auto, 100%;
}

#svg-bar-chart {
    height: 70vh;
    width: calc(100% - 5vw);
    margin: 10px;
    display: block;
}

/* x-axis labels for bar chart */
.tick text {
    font-size: var(--font-size);
}

.label-bar-chart {
    text-anchor: middle;
    fill: white;
    pointer-events: none;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
}

#svg-legend {
    display: block;
    width: 100%;
}

.label-legend {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
}